
<div class="card" style="background-image: url(<%= city.image %>);">
  <h3><%= city.city %></h3>
  <h5><%= city.title %></h5>
  <p><%= city.description %></p>
  <div class="avatar-card" style="background-image: url(<%= city.avatar %>);"></div>
</div>
